.linky-page {
    .header {
        &--linky,
        &--linky-variant {
            ._row{
                padding-top: 25px;
                padding-bottom: 25px;
                justify-content: center;
                flex-direction: column;
            }

            .header__avatar{
                display: block;

                & + .header__name {
                    margin-top: 12px;
                }
            }
        }
    }
}

