.linky-page {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    padding-bottom: 54px;
    overflow: scroll;

    * {
        box-sizing: border-box;
    }

    .header-wrapper {
        position: relative;
    }

    .header {
        position: relative;

        &__social-bar {
            padding: 15px 20px 5px 20px;
            text-align: center;
            border-bottom: solid 1px rgba($black, .15);

            a {
                display: inline-block;
                margin: 0 5px;
                margin-bottom: 10px;

                svg {
                    height: 20px;
                    width: auto;
                }
            }

            &.social-hide {
                display: none;
            }
        }

        &__menu {
            background: white;
            border-bottom: solid 1px rgba($black, .15);
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            width: 100%;

            a {
                display: block;
                text-align: center;
                padding: 15px;
                text-decoration: none;
                color: $black;
                font-weight: bold;
                border-top: solid 1px rgba($black, .15);
                font-size: 13px;

                &:first-child {
                    border-top: 0;
                }
            }
        }
    }

    &.menu-open {
        .header__menu,
        .social-hide {
            display: block;
            user-select: none;
        }

        .header-wrapper.is-social-hide {
            .social-hide {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 10;
                width: 100%;
                background: white;
                border-top: solid 1px rgba($black, .15);

                svg path {
                    fill: $black;
                }
            }

            .header__menu {
                margin-top: 52px;
            }
        }
    }

    .links {
        .link {
            float: left;
        }

        ._col-md-6 {
            float: left;
            width: 50%;
            padding-right: 6px;

            + ._col-md-6 {
                padding-left: 6px;
                padding-right: 0;
            }
        }
    }

    .footer {
        font-size: 10px;
        position: fixed;
        text-align: center;
        bottom: 0;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        white-space: nowrap;
        z-index: 10;
        display: inline-block;
        width: auto;
        border-radius: 3px 3px 0 0;
        padding: 12px 18px;
        color: black;
        left: 50%;
        transform: translateX(-50%);
        line-height: 10px;

        span,
        a {
            display: inline-block;
            vertical-align: top;
        }

        svg {
            margin-left: 1px;
            height: 10px;
        }
    }
}